:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span {
    font-size: 2rem;
    color: yellow;
}
.navegacion-principal {
    background-color: var(--secundario);
}
.contenedor {
    width: 120rem ;
    /* una manera de poner los margentes de 4 maneras 
    margin-top: ;
    margin-bottom: ;
    margin-left: ;
    margin-right: ;

    margin: 0 auto 0 auto; tomando las posiciones de un reloj
    */
    margin: 0 auto; /*el primer valo corresponde a top-bottom y el segundo valo corresponde a right-left */

}
.nav-bg {
    background-color: var(--secundario);
}

/*
p {
    background-color: #ffc107;
}
*/
/*.navegacion-principal a {
    display: block;
}
*/
.navegacion-principal {
    display: flex;
    /*justify content es para filas 
    aling-items es para columnas (flex-direction)*/
    justify-content: space-between;
    font-size: 2rem;
    /* para poner negritas*/
    font-weight: bold;

}
.navegacion-principal a {
    padding: 1rem;
    color: white;
    text-decoration: none;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);

}
/* tamaños recomenados para media query
480px para moviles 
768 para tablets
1140px para laptops
1400px para dispositivos más grandes o TV's 
*/
body {
    background-color: beige;
}
@media (min-width: 480px) {
    body {
        background-color: blue;
    }
}
@media (min-width: 768px) {
    body {
        background-color: cornflowerblue;
    }
}
