:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

html {
    font-size: 62.5%;
    /*hack para box model*/
    box-sizing: border-box;
}
  /*hack para box model*/
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
    font-family: 'krub', sans-serif;
}
/*Tipográfia*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

.titulo span {
    font-size: 2rem;
} 

/*Utilidades */
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
  
}
.flex{
    display: flex;
}
.ali-derecha{
    justify-content: flex-end;
    padding-top: 1rem;
}

.navegacion-principal {
    background-color: var(--secundario);
}
.contenedor {
    max-width: 120rem ;
    /* una manera de poner los margentes de 4 maneras 
    margin-top: ;
    margin-bottom: ;
    margin-left: ;
    margin-right: ;

    margin: 0 auto 0 auto; tomando las posiciones de un reloj
    */
    margin: 0 auto; /*el primer valo corresponde a top-bottom y el segundo valo corresponde a right-left */

}
.nav-bg {
    background-color: var(--secundario);
}

/*
p {
    background-color: #ffc107;
}
*/
/*.navegacion-principal a {
    display: block;
}
*/
.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify content es para filas 
    aling-items es para columnas (flex-direction)*/
    justify-content: space-between;
    font-size: 2rem;
    /* para poner negritas*/
    font-weight: bold;
}
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navegacion-principal a {
    padding: 1rem;
    color: white;
    text-decoration: none;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);

}
/* tamaños recomenados para media query
480px para moviles 
768 para tablets
1140px para laptops
1400px para dispositivos más grandes o TV's 
*/
.hero {
    background-image: url(../image/MicrosoftTeams-image\ \(1\).png);
    /* ../ es para regresar un nivel del direcctorio,
    la carpeta img está afuera del STYLES */
    background-repeat: no-repeat;
    /*en imagenes pequeñas suelen repertirse y abarcar el espacio de la página */
    background-size: cover;
    /* sirve para cubrir la imagen con todo el tamaño */
    height: 450px; /* alto elemento hero */
    position: relative; /* para manipular la posicion, el padre siempre debe ser relative*/

}
.contenedor-hero {
    position: absolute; /* para manipular la posicion, el hijo debe ser absoluto*/
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    /* alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-hero p, .contenedor-hero h2 {
    color: var(--blanco);
}
.ubicacion {
    display: flex;
    align-items: flex-end;

}
.boton {
    background-color: var(--secundario); /*color de fondo del boton*/
    color: var(--blanco); /*color de texto*/
    padding: 1rem 3rem;
    margin-top: 3rem; /*separación superior*/
    font-size: 2rem;
    text-decoration: none; /*quitar el subrayado*/
    text-transform: uppercase; /*poner en mayusculas*/
    font-weight: bold; /*poner texto en negritas*/
    border-radius: 1rem; /*esquinas redondeadas*/
    width: 90%; /*ancho del botón*/
    text-align: center; /*centrar el texto del botón*/
    border: none;/*esto afecta unicamente al botón a la etiqueta input*/
}
@media (min-width: 768px) {
    .boton {
      width: auto;
    }
  }
.boton:hover {
    cursor: pointer;
}
  .sombra {
    margin-top: 1rem;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.75);
-webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.75);
-moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.75);
background-color: var(--blanco);
padding: 2rem;
border-radius: 1rem;
  }

/*servicios*/
@media (min-width: 768px) {
    .servicios{
        display: grid;
        /*grid-template-columns: 1fr 1fr 1fr;*/
        /*grid-template-columns: 33.3% 33.3% 33.3%;*/
        grid-template-columns: repeat(3, 1fr);
    }
    .servicio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .servicio h3{
        color: var(--secundario);
        font-weight: normal;
    }
    .servicio p{
        text-align: center;
        /*interlineado*/
        line-height: 2;
    }
    .servicio .iconos {
        height: 15rem;
        width: 15rem;
        background-color: var(--primario);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*Contacto*/
.formulario {
    background-color: var(--gris);
    /*Ahorra el uso de media query, ¿Que es más pequeño, 60rem o el 100% del tamaño de la pantalla*/
    width: min(100rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        grid-template-rows: auto auto 20rem; /*Darle espacio a cada fila*/
    }  
    /*nth-child significa el número del hijo. El orden de los hijos seíra: nombre, teléfono, correo, mensaje
    Como requerimos modificar correo y mensaje, usaremos 3 y 4 en nth-child*/
    .campo:nth-child(3),
    .campo:nth-child(4){
        /*Posiciona el elemento, "que vaya del 1 sobre 3"*/
        grid-column: 1/3;
    }
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.campo textarea{
    height: 20rem /*hacer más grande la altura del textarea*/;
}
.footer{
    text-align: center;
}


